.nav__menu-link {
  position: relative;
  outline: none;

  color: var(--primary-clr-one);
  font-family: var(--ff-josefin);
  font-size: var(--fs-24);
  font-weight: var(--fw-300);
  line-height: 1.04; /* 25px */
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.25rem;
    width: 0;
    height: 0.13rem;

    background: var(--primary-clr-one);
    transition: width 0.4s ease-out;
  }

  @media (hover: hover) {
    &:is(:hover, :focus, :focus-visible)::before {
      width: 100%;
    }
  }
}

@media (min-width: 50rem) {
  .nav__menu-link {
    font-family: var(--ff-alata);
    font-size: var(--fs-15);
    font-weight: var(--fw-400);
    line-height: 1.67; /* 25px */
    text-transform: capitalize;
  }
}

.intro-heading {
  color: var(--primary-clr-one);
  font-family: var(--ff-josefin);
  font-size: var(--fs-32);
  font-weight: var(--fw-300);
  line-height: 0.95; /* 38px */
  text-transform: uppercase;
}

.section-heading {
  color: var(--primary-clr-two);
  font-family: var(--ff-josefin);
  font-size: var(--fs-32);
  font-weight: var(--fw-300);
  line-height: 1; /* 32px */
  text-transform: uppercase;
}

.creations-section__subheading {
  color: var(--primary-clr-one);
  font-family: var(--ff-josefin);
  font-size: var(--fs-24);
  font-weight: var(--fw-300);
  line-height: 1; /* 32px */
  text-transform: uppercase;
}

.section-text {
  color: var(--primary-clr-two);
  opacity: 0.5;
  font-family: var(--ff-alata);
  font-size: var(--fs-15);
  font-weight: var(--fw-400);
  line-height: 1.67; /* 25px */
}

@media (min-width: 31.25rem) {
  .intro-heading {
    font-size: var(--fs-52);
    line-height: 0.97; /* 70px */
  }
}

@media (min-width: 62.5rem) {
  .intro-heading {
    font-size: var(--fs-72);
  }

  .section-heading {
    font-size: var(--fs-48);
  }

  .creations-section__subheading {
    font-size: var(--fs-32);
  }
}

.footer__nav-link {
  position: relative;
  outline: none;

  color: var(--primary-clr-one);
  font-family: var(--ff-alata);
  font-size: var(--fs-15);
  font-weight: var(--fw-400);
  line-height: 1.67; /* 25px */

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.25rem;
    width: 0;
    height: 0.13rem;

    background: var(--primary-clr-one);
    transition: width 0.4s ease-out;
  }

  @media (hover: hover) {
    &:is(:hover, :focus, :focus-visible)::before {
      width: 100%;
    }
  }
}

.footer__copyright {
  color: var(--primary-clr-one);
  opacity: 0.5;
  font-family: var(--ff-alata);
  font-size: var(--fs-15);
  font-weight: var(--fw-400);
  line-height: 1.67; /* 25px */

  text-align: center;
}
